body {
    background-color:bisque
}

ol {
    border: 2px solid black;
}

#listA {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p {
    border: 7px solid black;
}

h2 {
    background-color: white;
    box-shadow: 2px 2px teal;
}